# OpenWeatherMap API Configuration
REACT_APP_WEATHER_API_KEY=4643334f5be864ce5b80533ed5810b93
REACT_APP_WEATHER_API_URL=https://api.openweathermap.org/data/2.5

# Optional: Geolocation API
REACT_APP_ENABLE_GEOLOCATION=true
